@import "../../styles/variable";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(35deg, #9010a9, #3134b1);
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    font-size: 18px;
    font-weight: bold;
}

.menu-btn {
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.right {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.avatar {
    border-radius: 50%;
}

.dropdown {
    position: absolute;
    top: 45px;
    right: 0;
    background: white;
    color: black;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.dropdown div {
    padding: 10px 15px;
}

.dropdown div:hover {
    background: #f3f4f6;
}