$primary-color: #6e63ff;
$primary-font-color: #000000;
$secondary-font-color: #64707c;
$primary-font-size: "16px";
$secondary-font-size: "14px";
$positive: #02a52f;
$negative: #d80000;
$warning: #ff6e00;
$error-color: #d80000;
$black: #000000;
$white: #fff;