.footer-dvi {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins-Regular;
  font-size: 10px;
  font-weight: 400;
  padding: 10px;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #96A5B5;
  bottom: 0;
}