<div class="sidebar" [class.collapsed]="collapsed">
  <ul>
    <li>
      <i class="fa-solid fa-house"></i>
      <span class="menu-text">Dashboard</span>
    </li>
    <li>
      <i class="fa-solid fa-chart-line"></i>
      <span class="menu-text">Report</span>
    </li>
    <li>
      <i class="fa-solid fa-gear"></i>
      <span class="menu-text">Settings</span>
    </li>
    <li>
      <i class="fa-solid fa-list"></i>
      <span class="menu-text">Category</span>
    </li>
    <li>
      <i class="fa-solid fa-wallet"></i>
      <span class="menu-text">Income</span>
    </li>
    <li>
      <i class="fa-solid fa-money-bill"></i>
      <span class="menu-text">Expenses</span>
    </li>
  </ul>
</div>