@import "../../styles/variable";

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 220px;
    height: calc(100vh - 60px);
    background: #111827;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    transition: width 0.3s ease;
}

/* Collapse */
.sidebar.collapsed {
    width: 70px;
}

/* Smooth scroll look */
.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 15px;
    cursor: pointer;
}

.sidebar li:hover {
    background: #1f2937;
}


// /* ================= Mobile RESPONSIVE ================= */

@media (max-width: 768px) {
    .sidebar {
        // position: fixed;
        // top: 60px;
        /* adjust based on header height */
        // left: 0;
        height: calc(100% - 60px);
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
    }

    .sidebar.collapsed {
        transform: translateX(0);
        width: 220px;
    }
}