<div class="sidebar" [class.collapsed]="collapsed">
  <ul>
    <li>Dashboard</li>
    <li>Report</li>
    <li>Settings</li>
    <li>Category</li>
    <li>Income</li>
    <li>Expenses</li>
     <li>Dashboard</li>
    <li>Report</li>
    <li>Settings</li>
    <li>Category</li>
    <li>Income</li>
    <li>Expenses</li>
     <li>Dashboard</li>
    <li>Report</li>
    <li>Settings</li>
    <li>Category</li>
    <li>Income</li>
    <li>Expenses</li>
     <li>Dashboard</li>
    <li>Report</li>
    <li>Settings</li>
    <li>Category</li>
    <li>Income</li>
    <li>Expenses</li>
     <li>Dashboard</li>
    <li>Report</li>
    <li>Settings</li>
    <li>Category</li>
    <li>Income</li>
    <li>Expenses</li>
     <li>Dashboard</li>
    <li>Report</li>
    <li>Settings</li>
    <li>Category</li>
    <li>Income</li>
    <li>Expenses</li>
     <li>Dashboard</li>
    <li>Report</li>
    <li>Settings</li>
    <li>Category</li>
    <li>Income</li>
    <li>Expenses</li>
    
  </ul>
</div>