<div class="confirm-modal">

  <!-- Header -->
  <div class="modal-header">
    <h4 class="modal-title">
      <span *ngIf="Data?.title">{{ Data?.title }}</span>
    </h4>

    <button type="button" class="close-btn" (click)="bsModalRef.hide()">

      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <!-- Body -->
  <div class="modal-body">

    <div *ngIf="Data?.question" class="modal-question">

      {{ Data?.question }}
    </div>

    <div *ngIf="Data?.description" class="modal-description">

      {{ Data?.description }}
    </div>

  </div>

  <!-- Footer -->
  <div class="modal-footer">

    <button *ngIf="Data?.noBtn" class="cancel-btn" (click)="bsModalRef.hide()">

      {{ Data?.noBtn }}
    </button>

    <button *ngIf="Data?.yesBtn" class="add-btn" (click)="yes()">

      {{ Data?.yesBtn }}
    </button>

  </div>

</div>