<div>
    <img src="../../../assets/images/cross.svg" class="closeicon" (click)="bsModalRef.hide()">
</div>
<div class="main-content-wrap">
    <div class="messagepart">
        <div class="acceptimg">
            <img src="../../../assets/images/mailsend.png" style="width: 30%;">
        </div>
        <h6>Successfully Submitted!</h6>
        <h4>
            You will receive a Sign up mail in the next 24 hours
        </h4>
        <div class="mt-4 mb-4">
            <button type="button" class="btn btn-primary login-btn" (click)="onSubmit()">Okay</button>
        </div>
    </div>
</div>