<!-- <div class="container-fluid login-wrapper">
    <div class="top-header">
        <a href="https://knowella.com/" alt="Knowella Website">
            <div class="knowellalogo"></div>
        </a>
        <div class="line"></div>
        <div class="workplace hidelogintxt">Your Platform for Operational Excellence</div>
    </div>

    <div class="row rowcustom">
        <div class="col-sm-12 col-md-12 col-xl-7 col-xxl-7 px-0 mx-0">
            <div class="responsiveimg">
            </div>
            <div class="imagecontainer">
            </div>
            <div class="copyrightmobile">Copyright © Knowella AI Inc.</div>
        </div>
        <div class="col-sm-12 col-md-12 col-xl-5 col-xxl-5 px-0 mx-0  mt-4 login-banner-one">
            <div class="loginuserimg">
            </div>
            <section class="userlogin">

                <h1>Reset Password</h1>
                <p class="text-center" style="font-size: 14px;">Your new password must be different from previously used
                    password.</p>
                <div class="infotext">
                    <span class="subtitle"><span class="infoicon"></span>In order to protect your account, make sure
                        your password:</span>
                    <ul>
                        <li>Has at least 8 characters up to 16 characters</li>
                        <li>Mixture of uppercase, lowercase letters & Numbers</li>
                        <li>Must Include atleast one special character eg-! @ # ? ]</li>
                    </ul>
                </div>
                <form [formGroup]="ResetPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off" class="userloginform">

                    <div class="passwordbox">
                        <input [type]="password" placeholder="New Password" autocomplete="off"
                            formControlName="password" minlength="8" maxlength="16"
                            [ngClass]="{ 'is-invalid': f['password'].errors && ResetPasswordForm.controls['password'].touched }">
                        <img (click)="onClick(true)" *ngIf="show" src="../../../assets/images/hideeye.svg"
                            class="field-icon-hide cursor">
                        <img (click)="onClick(false)" *ngIf="!show" src="../../../assets/images/showeye.svg"
                            class="field-icon-show cursor">
                    </div>
                    <div class="confirmpasswordbox">
                        <input [type]="confirmPassword" placeholder="Confirm Password" autocomplete="off"
                            formControlName="confirmPassword" minlength="8" maxlength="16"
                            [ngClass]="{ 'is-invalid': ResetPasswordForm.hasError('notSame') && ResetPasswordForm.controls['confirmPassword'].touched && f['password'].valid}">
                        <img (click)="onClickConfirm(true)" *ngIf="confirmshow" src="../../../assets/images/hideeye.svg"
                            class="field-icon-hide cursor">
                        <img (click)="onClickConfirm(false)" *ngIf="!confirmshow"
                            src="../../../assets/images/showeye.svg" class="field-icon-show cursor">
                    </div>
                    <div class="loginerror">
                        <span class="field-error"
                            *ngIf="f['password'].errors && ResetPasswordForm.controls['password'].touched">
                            password entered is not valid
                        </span>
                        <span class="field-error"
                            *ngIf="ResetPasswordForm.hasError('notSame') && ResetPasswordForm.controls['confirmPassword'].touched && f['password'].valid">
                            New password and confirm password doesn't match
                        </span>
                        <span *ngIf="ResetPasswordForm.valid" class="field-error">
                            {{error}}
                        </span>
                    </div>
                    <div class="btndiv">
                        <button type="submit" [disabled]="isLoading"
                            class="btn btn-primary login-btn">{{getLoading()}}</button>
                    </div>
                    <div class="signup_link text-center"> <small class="text-sm">Back to<a class="sighUptxt"
                                routerLink="/">Login</a></small> </div>
                </form>

            </section>
            <div class="copyrighttext">Copyright © Knowella AI Inc.</div>
        </div>
    </div>
</div> -->