<!-- <div class="container-fluid login-wrapper">
  <div class="top-header">
    <a href="https://knowella.com/" alt="Knowella Website">
      <div class="knowellalogo"></div>
    </a>
    <div class="line"></div>
    <div class="workplace hidelogintxt">Your Platform for Operational Excellence</div>
  </div>

  <div class="row rowcustom">
    <div class="col-sm-12 col-md-12 col-xl-7 col-xxl-7 px-0 mx-0">
      <div class="responsiveimg">
      </div>
      <div class="imagecontainer">
      </div>
      <div class="copyrightmobile">Copyright © Knowella AI Inc.</div>
    </div>
    <div class="col-sm-12 col-md-12 col-xl-5 col-xxl-5 px-0 mx-0  mt-4 login-banner-one">
      <div class="loginuserimg">
      </div>
      <section class="userlogin">
        <h1>Forgot password?</h1>
        <p>Enter your registered email address, and we'll send you a link to reset your password.</p>
        <form [formGroup]="ForgotForm" (ngSubmit)="onSubmit()" autocomplete="off" class="userloginform">
          <div class="emailbox">
            <input type="text" formControlName="email" autocomplete="off"
              [ngClass]="{ 'is-invalid': ForgotForm.controls['email'].touched && f['email'].errors }"
              placeholder="Registered Email ID">
          </div>
          <div class="loginerror">

            <span class="field-error" *ngIf="ForgotForm.controls['email'].touched && f['email'].errors">Please enter a
              valid email id</span>
            <span *ngIf="ForgotForm.valid" class="field-error">
              {{error}}
            </span>
          </div>
          <div class="btnforet">
            <button type="submit" [disabled]="isLoading" class="btn btn-primary login-btn">{{getLoading()}}</button>
          </div>
          <div class="signup_link"> <small class="text-sm">Return to<a class="sighUptxt"
                routerLink="/">Login</a></small> </div>
        </form>
      </section>
      <div class="copyrighttext">Copyright © Knowella AI Inc.</div>
    </div>
  </div>
</div> -->