<div *ngIf="Data=='terms'" class="container-fluid">
  <div>
    <img src="../../../../assets/images/cross.svg" class="closeicon" (click)="bsModalRef.hide()">
    <h1 class="toptitle">Terms & Conditions</h1>
  </div>
  <div class="terms">
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2>Acceptance of Terms</h2>
    </div>
    <div class="content">
      <p>Welcome to www.knowella.com (the “Site”), a web site provided on behalf of Knowella AI Inc. (“Knowella”) The
        Terms and Conditions of Use, as updated by Knowella from time to time, govern your use of the Site. You should
        carefully read the Terms and Conditions before using the Site. By using the Site, you are indicating that you
        are at least eighteen (18) years old and have the legal authority to accept the Terms and Conditions. This is a
        legally binding agreement. If you do not agree with the Terms and Conditions, you are not authorized to use the
        Site.
      </p>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2>Access to Password-Protected Areas</h2>
    </div>
    <div class="content">
      <p>Access to certain portions of this Site (“Password-Protected Areas”) requires login and password information.
        If you desire to access the Password-Protected Areas, you must agree to certain additional terms and conditions
        applicable to such areas.
      </p>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2>Privacy Policy</h2>
    </div>
    <div class="content">
      <p>Access to certain portions of this Site (“Password-Protected Areas”) requires login and password information.
        If you desire to access the Password-Protected Areas, you must agree to certain additional terms and conditions
        applicable to such areas.
      </p>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2>Prohibited Behavior</h2>
    </div>
    <div class="content">
      <p>You are responsible for respecting Knowella’s and third parties’ rights with respect to content that appears on
        the Site (“Content”) and you may not download, email or otherwise transmit such Content in violation of
        Knowella’s and third parties’ rights. You agree to use the Site solely to accommodate your own personal needs
        and not to offer any portion of the Site to any third party. You may not use or exploit any portion of the Site
        to provide any commercial services to third parties. You may not use or exploit any portion of the Site to
        distribute commercial messages, “spam,” or other unsolicited communications. You may not: (a) use the Site for
        any purpose or in any manner that violates any local, state, or federal law or regulation or the law or
        regulation of any foreign government; or (b) directly or indirectly, intentionally disrupt or interfere with the
        Site in any manner that may materially adversely affect Knowella or any third party.</p>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2>Subscription Fees</h2>
    </div>
    <div class="content">
      <p>
        In consideration for the right to use the Services under the terms herein, you will pay subscription fees in the
        amount and subject to the payment terms set forth in your Order Form. Unless otherwise agreed in writing by the
        parties, the price on the Order Form will apply to any additional subscriptions you purchase during the
        subscription term. You agree that in the event Knowella is unable to collect the subscription fees owed to
        Knowella for the Services, Knowella may take any other steps it deems necessary to collect such fees from you
        and that you will be responsible for all costs and expenses incurred by Knowella in connection with such
        collection activity, including collection fees, court costs, and attorneys’ fees. You further agree that, if you
        fail to make any payment when due, then, in addition to all other remedies that may be available: (i) Knowella
        may collect interest at the lesser of 1.0% per month or the highest amount permitted by law on any amounts not
        paid when due; and (ii) if such failure continues for 7 days following written notice thereof, Knowella may
        suspend performance of the Services until all past due amounts and interest thereon have been paid, without
        incurring any obligation or liability to you by reason of such suspension. Except to the extent otherwise
        expressly stated in this Agreement or in an Order Form, all obligations to pay subscription fees are
        non-cancelable and all payments are non-refundable. The customer agrees that its purchases are not contingent on
        the delivery of any future functionality or features, or dependent on any oral or written public comments made
        by Knowella regarding future functionality or features.</p>
      <p>
        Your subscription fees are exclusive of taxes, levies, duties, or similar governmental assessments of any kind
        (excluding taxes based on Knowella’s income, property, and employees). You will be responsible for paying any
        and all such taxes.
      </p>
      <p>
        Knowella reserves the right to modify the subscription fees for the Services, effective upon commencement of the
        next renewal subscription term of the relevant Order Form(s), by notifying you of such change in writing at
        least 30 days before the end of the then-current subscription term and the relevant Order Form(s) will be deemed
        amended accordingly. You will receive standard updates to the Services that are made generally available by
        Knowella during the subscription term specified in the Order Form. However, Knowella reserves the right to offer
        additional functionality or premium feature improvements for an additional cost. All rights not expressly
        granted herein are reserved by Knowella and its licensors.
      </p>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2>Disclaimer of Warranties</h2>
    </div>
    <div class="content">
      <p>THE USE OF THE SITE IS SOLELY AT YOUR OWN RISK. THE SITE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS.
        KNOWELLA EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND WITH RESPECT TO THE SITE WHETHER EXPRESS OR IMPLIED,
        INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
        NON-INFRINGEMENT. KNOWELLA EXPRESSLY DISCLAIMS ANY RESPONSIBILITY FOR THE ACTIONS OF ANY OTHER USER OF THE SITE.
        SOME STATES DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU.
        KNOWELLA MAKES NO WARRANTY THAT THE SITE WILL MEET YOUR REQUIREMENTS, OR WILL BE UNINTERRUPTED, TIMELY, SECURE,
        CURRENT, ACCURATE, COMPLETE OR ERROR-FREE OR THAT THE RESULTS THAT MAY BE OBTAINED BY USE OF THE SITE WILL BE
        ACCURATE OR RELIABLE. YOU UNDERSTAND AND ACKNOWLEDGE THAT YOUR SOLE AND EXCLUSIVE REMEDY WITH RESPECT TO ANY
        DEFECT IN OR DISSATISFACTION WITH THE SITE IS TO CEASE TO USE THE SITE. YOU MAY HAVE OTHER RIGHTS WHICH MAY VARY
        FROM STATE TO STATE.</p>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2>Exclusions and Limitation of Liability</h2>
    </div>
    <div class="content">
      <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT KNOWELLA SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
        SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING WITHOUT LIMITATION, DAMAGES FOR LOSS OF PROFITS,
        GOODWILL, USE, DATA LOSS, OR OTHER LOSSES (EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES) RESULTING FROM
        ANY MATTER RELATED TO YOUR USE OF THE SITE.</p>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2>Intellectual Property
      </h2>
    </div>
    <div class="content">
      <p>The Site and Content are owned by Knowella and third parties and are protected by the United States Copyright
        Act of 1976, as amended, and the copyright laws of other countries. Certain materials are used by permission of
        their respective owners. The Content of the Site may not be copied, reproduced, republished, uploaded, posted,
        transmitted, or distributed in any way without the prior written permission of Knowella, except that, subject to
        your compliance with the Terms and Conditions, Knowella authorizes you to view or download a single copy of the
        Content provided that you keep intact all copyright, trademark, and other proprietary notices. Modification or
        use of Content for any other purpose is a violation of the rights of Knowella, or third parties. “Knowella AI
        Inc.” and “Knowella” are trademarks owned by Knowella. Other trademarks are used with the permission of their
        respective owners. You agree not to use or display trademarks without the prior written consent of Knowella or
        the owner of such mark.
      </p>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2>Links
      </h2>
    </div>
    <div class="content">
      <p>The Site may include links to other World Wide Web sites. You acknowledge and agree that such links are
        provided for your convenience and do not reflect any endorsement by Knowella with respect to the provider of
        such linked site or the linked site. KNOWELLA MAKES NO REPRESENTATIONS OR WARRANTIES WITH RESPECT TO ANY LINKED
        SITE: YOUR USE OF ANY LINKED SITE IS SOLELY AT YOUR OWN RISK.</p>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2>Jurisdiction and Venue
      </h2>
    </div>
    <div class="content">
      <p>This Agreement and the relationship between the you and Knowella will be governed by the laws of Illinois
        without respect to its conflict of laws provisions and that venue with respect to any dispute between you and
        Knowella will rest exclusively in the state or federal courts located in the state of Delaware</p>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2>Changes
      </h2>
    </div>
    <div class="content">
      <p>Knowella may change the Site and/or Terms and Conditions from time-to-time. If a change to these Terms and
        Conditions is made, Knowella will post the revised Terms and Conditions on the Site. Knowella reserves the right
        to add to or change the Site or cease offering the Site at any time and without liability. Knowella reserves the
        right to refuse to offer access to the Site and/or Content to anyone at anytime without notice.
      </p>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2>Miscellaneous
      </h2>
    </div>
    <div class="content">
      <p>The Terms and Conditions constitute the entire agreement between you and Knowella relating to the Site. There
        is no agency, partnership or joint venture relationship between any user and Knowella arising solely through the
        use of the Site. The Terms and Conditions are binding upon your successors, assigns, heirs and executors. If any
        provision of the Terms and Conditions is found to be invalid by any court having competent jurisdiction, the
        invalidity of such provision shall not affect the validity of the remaining provisions of the Terms and
        Conditions, which shall remain in full force and effect. The failure of Knowella to exercise or enforce any
        right or provision of the Terms and Conditions shall not constitute a waiver of such right or condition. Any
        claim or cause of action arising out of or related to the Site or the Terms and Conditions must be filed within
        one year after such claim or cause of action arose. The section titles of the Terms and Conditions are merely
        for convenience and will not have any effect on the substantive meaning of this Agreement.
      </p>
    </div>
    <h1 class="bottomtitle">Contact Information</h1>
    <div class="contactinfo">
      <div class="header">
        <span class="elementor-icon - list - icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
              fill="#6E63FF"></path>
          </svg></span>
        <h2>You may contact Knowella at <span class="weblink"><a
              href="mailto:support@knowella.com">support@knowella.com.</a></span>
        </h2>
      </div>
    </div>
  </div>
</div>

<!-- privacy policy -->
<div *ngIf="Data=='policy'" class="container-fluid">
  <div>
    <img src="../../../../assets/images/cross.svg" class="closeicon" (click)="bsModalRef.hide()">
    <h1 class="toptitle">Privacy Policy</h1>
  </div>
  <div class="terms">
    <div class="header">
      <h3>Policy Agreement</h3>
    </div>
    <div class="content">
      <p>
        This Privacy Policy describes how we – Knowella AI Inc. and (together with its affiliates companies – “Knowella
        AI
        Inc”, “Knowella Analytics Pvt. Ltd.”, “we”, “our” or “us”) collect, store, use and disclose personal data
        regarding individuals (“you”) who: (i) visit or otherwise interact with our website available at <span
          class="weblink"><a href="http://www.knowella.com/" target="_blank">www.knowella.com</a></span>,
        or any other website, webpage (including broadcasted boards or forms generated through our Service), e-mail,
        text
        message or digital ad under our control (collectively – <b>“Sites”</b>); (ii) use our cloud-based visual work
        management
        platform, via the Sites, or the knowella.com desktop or mobile applications, integrations, add-ons or extensions
        (<b>“Users”</b>; and together with the Sites – the <b>“Service”</b>).
      </p>
      <p>
        These Terms of Service are a legal agreement between you and Knowella applicable to your use of the following
        software made available by Knowella.
      </p>
      <p>
        <span class="elementor-icon - list - icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
              fill="#6E63FF"></path>
          </svg></span>
        Your privacy is important to us, and we are committed to making our practices regarding your personal data fair
        and transparent.
      </p>
      <p>
        Please read this Privacy Policy carefully and make sure that you fully understand it. You are not legally
        required to provide us with any of your personal data, and may do so (or avoid doing so) at your own free will.
        If you do not wish to provide us with your personal data, or to have it processed by us or any of our service
        providers, please simply do not visit or interact with our Sites, nor use our Service. You may also choose not
        to provide us with “optional” personal data, but please keep in mind that without it we may not be able to
        provide you with the full range of our services or with the best user experience when using our Service.
      </p>
    </div>
    <div class="header">
      <h3>Information We Collect</h3>
    </div>
    <div class="content">
      <p>
        The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be
        made clear to you at the point we ask you to provide your personal information. If you contact us directly, we
        may receive additional information about you such as your name, email address, phone number, the contents of the
        message and/or attachments you may send us, and any other information you may choose to provide. When you
        register for an Account, we may ask for your contact information, including items such as name, company name,
        industry vertical, address, email address, and telephone number.
      </p>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2 class="lighttxthead">How we use your information
      </h2>
    </div>
    <div class="content">
      <p>We use the information we collect in various ways, including to:</p>
      <ul class="listcontent">
        <li>
          Provide, operate, and maintain our website
        </li>
        <li>Improve, personalize, and expand our website</li>
        <li>Understand and analyze how you use our website</li>
        <li>Develop new products, services, features, and functionality
        </li>
        <li>
          Communicate with you, either directly or through one of our partners, including for customer service, to
          provide you with updates and other information relating to the website, and for marketing and promotional
          purposes Send you emails
        </li>
        <li>Find and prevent fraud
        </li>
      </ul>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2 class="lighttxthead">Log Files
      </h2>
    </div>
    <div class="content">
      <p>
        Knowella follows a standard procedure of using log files. These files log visitors when they visit websites. All
        hosting companies do this and a part of hosting services’ analytics. The information collected by log files
        include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp,
        referring/exit pages, and possibly the number of clicks. These are not linked to any information that is
        personally identifiable. The purpose of the information is for analyzing trends, administering the site,
        tracking users’ movement on the website, and gathering demographic information.
      </p>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2 class="lighttxthead">Right to Delete the Personal Information We Collect and Share
      </h2>
    </div>
    <div class="content">
      <p>
        You have the right to request that we delete your personal information, subject to certain exceptions. Depending
        on the nature of the data, deletion may consist of erasing, aggregating, or anonymizing your information. After
        we receive and validate your request, we will delete and direct our service providers to delete your personal
        information, unless an exception applies. We may deny your deletion request, in whole or in part, if retaining
        the information is necessary for us or our service providers to: Complete the transaction for which we collected
        the personal information, provide a service that you requested, take actions reasonably anticipated within the
        context of our ongoing business relationship with you, or otherwise perform our contract with you; Detect
        security incidents, protect against malicious, deceptive, fraudulent, or illegal activity, or prosecute those
        responsible for such activities; Debug to identify and repair errors that impair existing intended
        functionality; Enable solely internal uses that are reasonably aligned with your expectations based on your
        relationship with us; or Comply with a legal obligation or make other internal and lawful uses of that
        information that are compatible with the context in which you provided it. Please be aware that, once deleted,
        your data, including your account and activities, cannot be restored.
      </p>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2 class="lighttxthead">How to Make a Request to Know or Delete
      </h2>
    </div>
    <div class="content">
      <p>
        You may, without charge, request to know or delete your personal information by email us at
        support@knowella.com. Only you or an authorized agent may make a request to access your personal information.
        You have the right to make a free request twice during any twelve-month period. The request must: Provide
        sufficient information for us to reasonably verify that you are the person, or an authorized representative of
        the person, about whom we collected the personal information; and Describe your request with sufficient detail
        for us to properly understand, evaluate, and respond to it. For your safety and the safety of your information,
        we cannot fulfill a request to provide or delete personal information if we cannot verify your identity or
        authority to make the request and confirm the personal information relates to you or an individual for whom you
        are a lawful agent. We may require additional verification before deleting or disclosing particularly sensitive
        information. We will only use the verification information you provide for the purpose of verifying your
        identity or authority to make the request. Submitting a request does not require you to create an account with
        us. We do not charge you a fee to process or respond to your verifiable consumer request unless it is excessive,
        repetitive, or manifestly unfounded. If we determine that the request warrants a fee, we will tell you why we
        made that decision and provide you with a cost estimate before completing your request.
      </p>
    </div>
    <div class="header">
      <h3>Third-party Services</h3>
    </div>
    <div class="content">
      <p>In addition to these Terms of Service, your use of the Knowella Platform will also be governed by:</p>
      <p>Knowella Platform may include additional functionality that you have the option of using that involve
        third-party services that are owned and run by companies or organizations not related to Knowella. There may be
        additional terms, licenses or rules applicable to third-party services available through Knowella, some of which
        may involve registration(s) on websites or through applications not controlled by Knowella, in which case such
        terms, licenses or rules will apply to those third-party services.
      </p>
      <p>By accepting these Terms of Service you consent to those services, including the provision of certain personal
        or business-related information as a requirement for the activation of certain features of the Knowella
        Platform.
      </p>
      <p>Knowella shall not be liable for any conduct, actions, or negative consequences that arise as a result of your
        use of third-party services in connection with the Knowella Platform. The Knowella Platform may also integrate
        with third-party data sources that provide relevant data to users. This data is beyond Knowella’s control and
        Knowella shall not have any liability to you for incorrect data and you should verify any data you receive
        through any Knowella software before acting on it.</p>
    </div>
    <div class="header">
      <h3>Software License</h3>
    </div>
    <div class="content">
      <p>In consideration of you agreeing to abide by these Terms of Service, Knowella grants to you a non-exclusive,
        non-transferable license to use the Knowella Platform on the terms set out below. Knowella AI Inc. remains the
        owner of the Knowella Platform at all times.</p>
      <p>You may download, install and use the Knowella Platform for your own purposes only.</p>
      <p>You are also granted a limited, nonexclusive, non-transferable right to create a text hyperlink to the Service
        for non-commercial purposes, provided that such link does not portray Knowella or our affiliates or any of our
        products or services in a false, misleading, derogatory or otherwise defamatory manner, and provided further
        that the linking site does not contain any adult or illegal material or any material that is offensive,
        harassing or otherwise objectionable. This limited right may be revoked at any time. You may not use a logo or
        other proprietary graphic of Knowella without our express written permission. Further, you may not use, frame or
        utilize framing techniques to enclose any Knowella trademark, logo or other proprietary information, including
        the images found on the Knowella Platform, the content of any text or the layout or design of any page, or form
        contained on a page, on the Service without our express written consent.
      </p>
    </div>
    <div class="header">
      <h3>Restrictions</h3>
    </div>
    <div class="content">
      <p>Except as expressly set out in these Terms of Service or as permitted by any local law, you undertake:
      </p>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2 class="lighttxthead">Not to copy the Knowella Platform except where such copying is incidental to normal use
        or where it is necessary for the purpose of back-up or operational security
      </h2>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2 class="lighttxthead">Not to rent, lease, sub-license, loan, translate, merge, adapt, vary or modify
      </h2>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2 class="lighttxthead">Not to make alterations to, or modifications of, the whole or any part of the Knowella
        Platform nor permit any part of them to be combined with, or become incorporated in
      </h2>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2 class="lighttxthead">Not to disassemble, decompile, reverse-engineer or create derivative works based on the
        whole or any part of the Knowella Platform nor attempt to do any such thing except to the extent that such
        actions cannot be prohibited because they are essential for the purpose of achieving inter-operability of the
        Knowella Platform with another software program or application, and provided that the information obtained by
        you during such activities
      </h2>
    </div>
    <div class="header">
      <h3>Our Intellectual Property And Content</h3>
    </div>
    <div class="content">
      <p>Knowella is the owner or the licensee of all intellectual property rights in the Knowella Platform, and in the
        material published on them. Those works are protected by copyright laws and treaties around the world. All such
        rights are reserved.
      </p>
    </div>
    <div class="content">
      <p>Without prejudice to the above, you acknowledge that:
      </p>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2 class="lighttxthead">
        All intellectual property rights in the Knowella Platform anywhere in the world belong to Knowella
      </h2>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2 class="lighttxthead">
        All rights in the Knowella Platform are licensed (not sold) to you and you have no rights in, or to, the
        Knowella Platform other than the right to use them in accordance with these Terms of Service
      </h2>
    </div>
    <div class="header">
      <span class="elementor-icon - list - icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="4" r="4" fill="#FFD600"> </circle>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.02177 18C12.2991 18 15.148 16.4552 16.7804 13.9565C17.4795 12.8866 18.2476 11.1899 17.9235 9.84141C17.7544 9.13769 17.282 8.53919 16.6562 8.23056C15.855 7.83544 14.8785 7.95459 14.1874 8.53866C13.3157 9.27527 13.394 10.4371 12.9102 11.4048C12.9102 11.4048 11.8981 13.9815 9.10357 14.0503C7.48552 14.0503 5.80932 13.1685 5.09977 11.5765C4.50407 10.5935 4.66043 9.31548 3.73897 8.53376C3.05724 7.95541 2.0955 7.83752 1.3063 8.23381C0.686572 8.545 0.223689 9.1466 0.0677402 9.8489C-0.290069 11.4603 0.843398 13.4321 1.73755 14.6246C3.35411 16.7821 6.04556 18 9.02177 18Z"
            fill="#6E63FF"></path>
        </svg></span>
      <h2 class="lighttxthead">
        You have no right to have access to the Knowella Platform in source code form
      </h2>
    </div>
    <div class="content">
      <p>
        Knowella Platform may include information and materials uploaded by other users of the site, including to
        bulletin boards and chat rooms. This information and these materials have not been verified or approved by
        Knowella and the views expressed by other users do not represent our views or values.
      </p>
    </div>
    <div class="header">
      <h3>CCPA Privacy Rights</h3>
    </div>
    <div class="content">
      <p>Under the CCPA, among other rights, California consumers have the right to:</p>
      <p>Request that a business that collects a consumer’s personal data disclose the categories and specific pieces of
        personal data that a business has collected about consumers.</p>
      <p>Request that a business delete any personal data about the consumer that a business has collected.</p>
      <p>Request that a business that sells a consumer’s personal data, not sell the consumer’s personal data.</p>
      <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights,
        please contact us.</p>
    </div>
    <div class="header">
      <h3>GDPR Data Protection</h3>
    </div>
    <div class="content">
      <p>The European Union’s General Data Protection Regulation (GDPR) became applicable in May 2018 and established a
        structured and comprehensive framework on how to collect, process, use, and share personal data in order to
        protect the privacy rights of EU data subjects. The GDPR generally applies to any organization operating within
        the EU and any organizations outside of the EU that offer goods or services to customers or businesses in the EU
        – and process personal data of EU-based individuals.</p>
      <p>The GDPR expands the privacy rights granted to European individuals and is designed to protect their data
        protection rights by strengthening the security and protection of their data, and strengthening their control
        over how their personal data is handled.
      </p>
      <p>In the UK, parts of the GDPR were incorporated into local law by the enactment of the Data Protection Act 2018.
        On 31 December 2020, the remaining provisions of the GDPR were incorporated into local UK creating what is known
        as the “UK GDPR”. Currently, the UK GDPR contains very similar requirements to the EU GDPR. When we refer to
        “the GDPR” we are referring both to the EU GDPR and to the UK GDPR.</p>
      <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to
        the following:</p>
      <p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee
        for this service.</p>
      <p>The right to rectification – You have the right to request that we correct any information you believe is
        inaccurate. You also have the right to request that we complete the information you believe is incomplete.
      </p>
      <p>The right to erasure – You have the right to request that we erase your personal data, under certain
        conditions.</p>
      <p>The right to restrict processing – You have the right to request that we restrict the processing of your
        personal data, under certain conditions.
      </p>
      <p>The right to object to processing – You have the right to object to our processing of your personal data, under
        certain conditions.
      </p>
      <p>The right to data portability – You have the right to request that we transfer the data that we have collected
        to another organization, or directly to you, under certain conditions.</p>
      <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights,
        please contact us at <span class="weblink"><a href="mailto:support@knowella.com">support@knowella.com</a></span>
      </p>
    </div>
    <div class="header">
      <h3>Canada's PIPEDA</h3>
    </div>
    <div class="content">
      <p>The Personal Information Protection and Electronic Documents Act (PIPEDA) is a Canadian federal law, enacted in
        April of 2000 and updated several times since then, that applies to private sector businesses engaged in a
        commercial activity. The law governs the collection, use, and disclosure of personal information for
        private-sector organizations in Canada.
      </p>
      <p>Knowella is committed to compliance with the requirements of the PIPEDA and its underlying principles, where it
        applies to our data processing activities.</p>
      <ul class="listcontent">
        <li>Accountability, transparency, openness and fairness in our data processing activities. Knowella’s Privacy
          Policy thoroughly details how we process personal information and for which purposes (where such means and
          purposes are determined by us);</li>
        <li>Having a privacy team for monitoring and ensuring that personal information and privacy are protected and
          that we remain compliant with applicable data protection and privacy regulations;</li>
        <li>Adopting safeguards by implementing security, technical and administrative measures aimed at protecting
          personal information from unauthorized accesses or any improper or unlawful processing;
        </li>
        <li>Having procedures for handling data subject requests, suspected breaches concerning personal information,
          limiting use, disclosure and retention of personal information, and regularly conducting privacy training for
          all relevant members of our staff.</li>
      </ul>
    </div>
    <div class="content">
      <p>If you have any questions concerning Knowella’s privacy program and our compliance with Canada’s PIPEDA, please
        feel free to contact us at <span class="weblink"><a
            href="mailto:support@knowella.com">support@knowella.com.</a></span></p>
    </div>
  </div>
</div>